<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-6 cold-sm-offset-1 col-md-offset-3">
    <form [formGroup]="confirmForm" (ngSubmit)="onConfirm()" class="jumbotron text-center">
      <div class="form-group">
        <label
          for="usrName"
          class="control-label">Username</label>
        <input
          type="text"
          id="usrName"
          name="usrName"
          class="form-control text-center"
          formControlName="usrName"
          required>
      </div>
      <div class="form-group">
        <label
          for="validationCode"
          class="control-label">Validation Code</label>
        <input
          type="text"
          id="validationCode"
          name="validationCode"
          class="form-control text-center"
          formControlName="validationCode"
          required>
      </div>
      <br>
      <button class="btn btn-primary" type="submit" [disabled]="!confirmForm.valid">Confirm your Account</button>
    </form>
  </div>
</div>
