<div class="container">
  <div class="col-xs-12">
    <table class="table table-hover" style="cursor:pointer;">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Team</th>
        <th scope="col">Biography</th>
        <th scope="col">Competencies</th>
        <th scope="col">Market</th>
      </tr>
      </thead>
      <tbody *ngFor="let team of teams | filter:searchText">
      <tr (click)="showRow(team)">
        <th scope="row" class="counterCell"></th>
        <td>{{team.PK}}</td>
        <td>{{team.Biography}}</td>
        <td>{{team.Competencies}}</td>
        <td>{{team.Market}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
