<div style="float: right">
  <input class="btn btn-secondary active" type="button" value="Clear" (click)="resetSearch()">
</div>
<div style="float: right">
    <app-filter
      [list]="filterList"
      (onFilterChange)="filterChange($event)">
    </app-filter>
</div>

<div class="container">
  <div class="col-xs-12">
    <table class="table table-hover" style="cursor:pointer;">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Team</th>
        <th scope="col">Title</th>
        <th scope="col">Email</th>
        <th scope="col">User Name</th>
      </tr>
      </thead>
      <tbody *ngFor="let member of teamMember | paginate : { itemsPerPage: 3, currentPage: p}">
        <tr (click)="showRow(member)">
          <th scope="row" class="counterCell"></th>
          <td>{{member.first_name}}</td>
          <td>{{member.last_name}}</td>
          <td>{{member.team}}</td>
          <td>{{member.title}}</td>
          <td>{{member.email}}</td>
          <td>{{member.user_name}}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event" class="pagination justify-content-end"></pagination-controls>
  </div>
</div>
